
<div class="container">
    <label>Entrer la premier number</label>
        <input type="text" id="premiernb" name=""><br><br>
     
<button type="button" class="btn btn-outline-primary" id='ajout' onclick="addition()">+</button>
<button type="button" class="btn btn-outline-primary">-</button>
<button type="button" class="btn btn-outline-primary">*</button>
<button type="button" class="btn btn-outline-primary">/</button><br><br>

<label>Entrer la secondue number</label>

        
<input type="text" id="seconduenb" name="">
   
<h2 id="afficher">Resultat</h2>
<div id="afficher"></div>
</div>